*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	
	background-color: #ffffff;
	background: linear-gradient(315deg, #aaaaaa 3%, #D9DDDC 38%);

	font-family: "Open Sans", sans-serif;
	color: #333333;
}
